@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body{
    font-family: 'Space Grotesk', sans-serif;
}

@media screen and (max-width: 375px) {
    body{
        background-image: url(/images/bg-main-mobile.png);
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
    }
    .back-img img{
        height: auto;
        width: 17em;
        margin: 2em 0 1em 5em;
    }
    .back-img h4{
        position: absolute;
        font-size: 0.6em;
        color: hsl(270, 3%, 87%);
        margin: -10.6em 0 -5em 31em;
    }
    .front-img img{
        height: auto;
        width: 18em;
        margin: -5.35em 0 0 1em;
    }
    
    .cardlogo img{
        height: auto;
        width: 3em;
        position: absolute;
        margin: -9em 0 0 2.2em;
    }
    .card-no{
        position: absolute;
        top: 10em;
        left: 2em;
        font-size: 1.1em;
        letter-spacing: 0.15em;   
        color: hsl(0, 0%, 100%); 
        font-weight: 100;   
    }
    .cardholder-name{
        position: absolute;
        top: 23.7em;
        left: 4em;
        font-size: 0.6em;
        letter-spacing: 0.15em;   
        color: hsl(0, 0%, 100%); 
        font-weight: 100;
        text-transform: uppercase;
    }
    .card-exp-date{
        position: absolute;
        top: 23.7em;
        left: 25em;
        font-size: 0.6em;
        letter-spacing: 0.15em;   
        color: hsl(0, 0%, 100%); 
        font-weight: 100;
    }
    .card-img{
        box-shadow: 23px 30px 55px 9px rgba(0, 0, 0, 0.08);
    }
    .attribution {
         font-size: 11px; text-align: center; 
        }
    .attribution a {
         color: hsl(228, 45%, 44%); 
        }
}