@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body{
    font-family: 'Space Grotesk', sans-serif;
    background-image: url(/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

@media (min-width: 350px) and (max-width: 1200px) {
    body{
        background-image: url(/images/bg-main-mobile.png);
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
    }
    .back-img img{
        height: auto;
        width: 17em;
        margin: 2em 0 1em 5em;
    }
    .back-img h4{
        position: absolute;
        font-size: 0.6em;
        color: hsl(270, 3%, 87%);
        margin: -10.6em 0 -5em 31em;
    }
    .front-img img{
        height: auto;
        width: 18em;
        margin: -5.35em 0 0 1em;
    }
    
    .cardlogo img{
        height: auto;
        width: 3em;
        position: absolute;
        margin: -9em 0 0 2.2em;
    }
    .card-no{
        position: absolute;
        top: 10em;
        left: 2em;
        font-size: 1.1em;
        letter-spacing: 0.15em;   
        color: hsl(0, 0%, 100%); 
        font-weight: 100;   
    }
    .cardholder-name{
        position: absolute;
        top: 23.7em;
        left: 4em;
        font-size: 0.6em;
        letter-spacing: 0.15em;   
        color: hsl(0, 0%, 100%); 
        font-weight: 100;
        text-transform: uppercase;
    }
    .card-exp-date{
        position: absolute;
        top: 23.7em;
        left: 25em;
        font-size: 0.6em;
        letter-spacing: 0.15em;   
        color: hsl(0, 0%, 100%); 
        font-weight: 100;
    }
    .card-img{
        box-shadow: 23px 30px 55px 10px rgba(0, 0, 0, 0.13);
    }
    .formcontainer{
        position: relative;
        top: 3em;
    }
    .form-cardholder-name > label{
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin-left: 2.5em;
        font-size: 0.8em;
        color: hsl(278, 68%, 11%);
    }
    .form-cardholder-name > input{
        margin: 0.5em 0  1em 1.5em;
        padding: 1em;
        height: 0.1em;
        width: 15em;
        font-size: 1.2em;
        border-radius: 0.5em;
        border: 0.1em solid hsl(279, 6%, 55%);
        opacity: 50%;
    }
   
    .form-card-number > label{
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin-left: 2.5em;
        font-size: 0.8em;
        color: hsl(278, 68%, 11%);
    }
    .form-card-number > input{
        margin: 0.5em 0  1em 1.5em;
        padding: 1em;
        height: 0.1em;
        width: 15em;
        font-size: 1.2em;
        border-radius: 0.5em;
        border: 0.1em solid hsl(279, 6%, 55%);
        opacity: 50%;
    }

    .form-exp-date > label{
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin-left: 2.5em;
        font-size: 0.8em;
        color: hsl(278, 68%, 11%);
    }
    .form-exp-date > div > input{
        margin: 0.5em 0  1em 1.5em;
        padding: 0 0 0 0.8em;
        height: 2.2em;
        width: 2.5em;
        font-size: 1.2em;
        border-radius: 0.5em;
        border: 0.1em solid hsl(279, 6%, 55%);
        opacity: 50%;
        
    } 
    .form-exp-date > div >input:last-child{
        margin-left: 0.2em;
    }
    .form-cvv{
        margin: 0 0 0 2em;
    }
    .form-cvv > label{
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin-left: 0;
        font-size: 0.8em;
        color: hsl(278, 68%, 11%);
    }
    .form-cvv > input{
        margin: 0.5em 0  1em 1.5em;
        padding: 0 0 0 0.8em;
        height: 2.2em;
        width: 5em;
        font-size: 1.2em;
        border-radius: 0.5em;
        border: 0.1em solid hsl(279, 6%, 55%);
        opacity: 50%;
        
    } 
    .form-lastentry-css{
        display: flex;
    }
    /* .attribution {
         font-size: 11px; text-align: center; 
        }
    .attribution a {
         color: hsl(228, 45%, 44%); 
        } */
}