@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/images/bg-main-desktop.png);
    background-repeat: no-repeat;
}
.front-img img{
    position: absolute;
    height: auto;
    width: 20em;
    margin: 7em 0 0 20em;
}
.card-front-logo img{
    height: auto;
    width: 4em;
    position: absolute;
    margin: 9em 0 0 22em;
}
.back-img img{
    position: absolute;
    height: auto;
    width: 20em;
    margin: 19em 0 1em 24em;
}
.back-img h4{
    position: absolute;
    font-size: 0.6em;
    color: hsl(270, 3%, 87%);
    margin: 40em 0 -5em 67em;
}

.card-no{
    position: absolute;
    top: 11em;
    left: 20em;
    font-size: 1.1em;
    letter-spacing: 0.2em;   
    color: hsl(0, 0%, 100%); 
    font-weight: 100;   
}
.cardholder-name{
    position: absolute;
    top: 25.5em;
    left: 37em;
    font-size: 0.6em;
    letter-spacing: 0.15em;   
    color: hsl(0, 0%, 100%); 
    font-weight: 100;
    text-transform: uppercase;
}
.card-exp-date{
    position: absolute;
    top: 25.5em;
    left: 60em;
    font-size: 0.6em;
    letter-spacing: 0.15em;   
    color: hsl(0, 0%, 100%); 
    font-weight: 100;
}
.card-img{
    box-shadow: 23px 30px 55px 10px rgba(0, 0, 0, 0.13);
}
.formcontainer{
    position: relative;
    top: 11em;
}
.form-cardholder-name > label{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-left: 87em;
    font-size: 0.6em;
    color: hsl(278, 68%, 11%);
}
.form-cardholder-name > input{
    margin: 0.5em 0  1em 52.2em;
    padding: 1em;
    height: 0.1em;
    width: 20em;
    font-size: 1em;
    border-radius: 0.5em;
    border: 0.1em solid hsl(279, 6%, 55%);
    opacity: 50%;
}

.form-card-number > label{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-left: 87em;
    font-size: 0.6em;
    color: hsl(278, 68%, 11%);
}
.form-card-number > input{
    margin: 0.5em 0  1em 52.2em;
    padding: 1em;
    height: 0.1em;
    width: 20em;
    font-size: 1em;
    border-radius: 0.5em;
    border: 0.1em solid hsl(279, 6%, 55%);
    opacity: 50%;
}

.form-exp-date > label{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-left: 87em;
    font-size: 0.6em;
    color: hsl(278, 68%, 11%);
}
.form-exp-date > div > input{
    margin: 0.5em 0  1em 52.2em;
    padding: 0 0.5em 0 0.8em;
    height: 2.2em;
    width: 2.5em;
    font-size: 1em;
    border-radius: 0.5em;
    border: 0.1em solid hsl(279, 6%, 55%);
    opacity: 50%;
    
} 
.form-exp-date > div >input:last-child{
    margin-left: 0.2em;
}
.form-cvv{
    margin: 0 0 0 2em;
}
.form-lastentry-css{
    display: flex;
}
.form-cvv > label{
    text-transform: uppercase;
    position: absolute;
    letter-spacing: 0.2em;
    margin: 0.8em 0 0 0.5em;
    font-size: 0.6em;
    color: hsl(278, 68%, 11%);
}
.form-cvv > input{
    margin: 1.8em 0  1em 0;
    padding: 0.2em;
    height: 2.2em;
    width: 11.2em;
    font-size: 1em;
    border-radius: 0.5em;
    border: 0.1em solid hsl(279, 6%, 55%);
    opacity: 50%;
    
} 
.formcontainer input[type="submit"]{
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border: none;
    position: absolute;
    left: 52.5em;
    top: 17em;
    font-size: 1em;
    padding: 0.5em;
    height: 3em;
    width: 22em;
    border-radius: 0.3em;
}
.formcontainer input[type="submit"]:hover{
    background-color: #664BFB;
    transition: ease-in-out 0.5s;
}
.form-cardholder-name>input[type="text"]:focus{
    opacity: 100%;
    border-color: 0.1em solid hsl(249, 99%, 64%);
}

.attribution {
    font-size: 11px; 
    position: absolute;
    text-align: centre;
    margin: 32em 0 0 50em;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 375px) and (max-width: 785px) {
    body{
        background-image: url(/images/bg-main-mobile.png);
        background-repeat: no-repeat;
    }
    .back-img img{      
        max-width: 18em;
        margin: 3em 0 1em 4em;
    }
    .front-img img{
        width: 18em;
        margin: 8.6em 0 0 0.8em;
    }
    .card-front-logo img{
        width: 3em;
        margin: 10em 0 0 2em;
    }
    .back-img h4{
        margin: 12.5em 0 -5em 31em;
    }
    .card-no{
        top: 11em;
        left: 1.5em;
        font-size: 1.2em;
        letter-spacing: 0.1em;            
    }
    .cardholder-name{
       top: 28.5em;
        left: 4em;
        font-size: 0.55em;
    }
    .card-exp-date{
        top: 28.5em;
        left: 26em;
        font-size: 0.55em;
    }
    .formcontainer{
        top: 11em;
    }
    .card-img{
        box-shadow: 23px 30px 55px 10px rgba(0, 0, 0, 0.13);
    }
    .form-cardholder-name > label{
        position: absolute;
        margin: 13em 0 0 2em;
        font-size: 0.8em;
    }
    .form-cardholder-name > input{
        margin: 10em 0  0 1.4em;
        width: 15em;
        font-size: 1.2em;
    }
    .form-card-number > label{
        position: absolute;
        top: 20em;
        margin-left: 2.2em;
        font-size: 0.8em;
    }
    .form-card-number > input{
        margin: 2.5em 0  0 1.4em;
        height: 0.1em;
        width: 15em;
        font-size: 1.2em;
    }
    .form-exp-date > label{
        position: absolute;
        margin: 1.5em 0 0 2.3em;
        font-size: 0.8em;
    }
    .form-exp-date > div > input{
        margin: 2.5em 0  0 1.5em;
        padding: 0 0.1em 0 0.9em;
        font-size: 1.2em;
    } 
    .form-cvv > label{
        margin: 0.4em 0 0 0.5em;
        font-size: 0.8em;
    }
    .form-cvv{
        margin: 1em 0 0 1.5em;
    }
    .form-cvv > input{
        margin: 1.5em 0  1em 0;
        height: 2em;
        width: 7.5em;
        font-size: 1.2em;       
    } 
    .formcontainer input[type="submit"]{
        left: 1.5em;
        top: 24em;
        font-size: 1.2em;
        height: 2.5em;
        width: 17.2em;
    }
    .attribution {
        position: absolute;
        text-align: centre;
        margin: 25em 0 0 3.5em;
    }
}